# -d: 백그라운드 실행. 미설정시 default는 콘솔실행
# docker compose -f docker-compose.agent.yaml up -d

version: '3.7'
services:
  prometheus-agent:
    image: pambrose/prometheus-agent:2.4.0
    container_name: prometheus-agent
    restart: unless-stopped

    # 관리자 포트(활성화 설정 필요): 8083, 8093
    # Agent는 외부로 Request도 하므로, 네트워크 범위 혼동이 없도록 호스트모드로 실행 권장
    network_mode: "host"  

    environment:
      # 설정파일 경로포함 기술  # 온라인 환경에선 URL로 대체가능
      AGENT_CONFIG: "agent_localtest.conf"
    volumes:
      - ./agent_localtest.conf:/app/prom-agent.conf
