# -d: 백그라운드 실행. 미설정시 default는 콘솔실행
# docker compose -f docker-compose.proxy.yaml up -d

version: '3.7'
services:
  prometheus-proxy:
    image: pambrose/prometheus-proxy:2.4.0
    container_name: prometheus-proxy
    restart: unless-stopped
        
    ports:
      - "50051:50051"  # 에이전트의 request 수신: 50051 (grpc)
      - "8080:8080"    # Prometheus의 request 수신: 8080 (http)
      # - "8082:8082"    # 관리자(HTTP)
      # - "8092:8092"    # 관리자(gRPC)

      # 모니터링 대상 수 만큼 포트를 열어 8080으로 연결해주면 좋음 (필수X)
      # Prometheus, Grafana에서 포트번호로 모니터링 대상을 좀 더 명확히 구분할 수 있게되어 보편적인 대시보드 호환성이 좋아짐
      # 안쓰는 포트를 미리 열어두면 prometheus 집계에 문제발생하므로, 실사용 포트만 열어두기
      # - "9101:8080"  # exporter1용
      # - "9102:8080"  # exporter2용
      # - "9103:8080"  # exporter3용 ... 
      
    environment:
      ADMIN_ENABLED: "false"   # 관리자 포트 비활성화
      METRICS_ENABLED: "true"  # 메트릭 활성화

